<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AustinPowersSoundboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E44F7E231DA55C19008AE8EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E44F7E371DA55C19008AE8EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E44F7E421DA55C1A008AE8EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
